@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.main {
  background-image: url("assets/R.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 80vh;
  position: relative;
}

.main .box {
  height: 80vh;
  width: 100%;
  opacity: 0.69;
  position: absolute;
  top: 0;
  background-color: black;
}

nav {
  max-width: 60vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 62px;
}

nav img {
  color: red;
  width: 114px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
  border: none;
}

nav button img {
  width: 20px;
  top: 1px;
}

.hero {
  height: calc(100%-62px);
  font-family: "Martel Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 20px;
  padding: 0 30px;
  padding-top: 125px;
}

.hero > :nth-child(1) {
  font-family: "poppins", sans-serif;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.separation {
  height: 7px;
  background-color: rgb(71, 69, 69);
}

.btn {
  padding: 3px 8px;
  font-weight: 400;
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border-radius: 4px;
  cursor: pointer;
}

.btn-red {
  background-color: red;
  padding: 3px 24px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid rgb(209, 15, 15);
}

.btn-red-sm {
  background-color: red;
  color: white;
  border: 1px solid rgb(209, 15, 15);
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.bottonSearch input {
  width: 250px;
  height: 25px;
  border-radius: 4px;
}

.main input {
  padding: 7px 101px 8px 14px;
  color: white;
  font-weight: 900;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
}

.secImg {
  position: relative;
}

.SecImg img {
  width: 575px;
  position: relative;
}

.secImg video {
  position: absolute;
  top: 90px;
  width: 445px;
  padding-top: 0;
  right: 56px;
  z-index: 1;
}

section.first > div {
  font-family: "Martel Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

section.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
  z-index: 10;
}

section.first > div :nth-child(2) {
  font-size: 20px;
}

section.third img {
  z-index: 10;
}

section.third video {
    top: 40px;
    right: 120px;
    width: 340px;
}

.faq h2 {
  text-align: center;
  font-family: "Martel Sans", sans-serif;
  font-size: 48px;
}

.faq {
  background-color: black;
  color: white;
  padding: 34px;
  font-size: 24px;
}

.faqbox:hover {
  transition: all;
  background-color: #414141;
}

.faqbox {
  transition: all one second ease ease-out;
  font-family: "Martel Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  background-color: rgb(54, 49, 49);
  padding: 24px;
  max-width: 40vw;
  margin: 34px auto;
  font-size: large;
}

footer {
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 14px;
}

footer .questions {
  padding: 34px 0px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

.footer a {
  font-size: 14px;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.btn1 {
  text-align: left;
}
